[submodule "Engine/lib/libogg"]
	path = Engine/lib/libogg
	shallow = true
	url = git@github.com:xiph/ogg.git
[submodule "Engine/lib/glfw3"]
	path = Engine/lib/glfw3
	shallow = true
	url = git@github.com:glfw/glfw.git
